In [19]:
import pandas as pd

In [20]:
raw_data = pd.read_csv('pokemon_trainer_application_data.csv')

/Users/saurav/Distributions/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (69,70,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 100

In [22]:
raw_data[:10]

,ApplicationStatus,ApplicationType,ApplyDate,CurrentlyEmployed,CurrentlyTrainingPokemon,CurrentlyWorkInThisRegion,GraduateSchoolGPA,GraduateSchoolGraduate,GymBadge1Pokemon,GymBadge2Pokemon,GymBadge3Pokemon,GymBadge4Pokemon,GymBadgePerm1,GymBadgePerm2,GymBadgePerm3,GymBadgePerm4,GymBadgeTemp1,GymBadgeTemp2,GymBadgeTemp3,GymBadgeTemp4,GymCertificationEverSuspended,GymCertified,HighEduLevelCompleted,HighSchoolGPA,HighSchoolGraduate,HiredSalaryOffer,InternalEmployee,JobPostingDate,JobSchedule,JobShiftDay,JobShiftEvening,JobShiftNight,JobShiftRotating,JobShiftWeekend,JobStatusFlexTime,JobStatusFullTime,JobStatusPartTime,JobStatusPerDiem,JobStatusTemp,LastPerformaceRating,OtherSchoolGPA,OtherSchoolGraduate,PokemonTrainerClass,PokemonWorldRegion,PositionForTrainingPokemon,RecentTrainingExperience1ContactForRef,RecentTrainingExperience1EmploymentStatus,RecentTrainingExperience1From,RecentTrainingExperience1PayRateEnd,RecentTrainingExperience1Pokemon,RecentTrainingExperience1To,RecentTrainingExperience2ContactForRef,RecentTrainingExperience2EmploymentStatus,RecentTrainingExperience2From,RecentTrainingExperience2PayRateEnd,RecentTrainingExperience2Pokemon,RecentTrainingExperience2To,RecentTrainingExperience3ContactForRef,RecentTrainingExperience3EmploymentStatus,RecentTrainingExperience3From,RecentTrainingExperience3PayRateEnd,RecentTrainingExperience3Pokemon,RecentTrainingExperience3To,RecentTrainingExperience4ContactForRef,RecentTrainingExperience4EmploymentStatus,RecentTrainingExperience4From,RecentTrainingExperience4PayRateEnd,RecentTrainingExperience4Pokemon,RecentTrainingExperience4To,RecentTrainingExperienceContactForRefNA,RecentTrainingExperienceContactForRefNo,RecentTrainingExperienceContactForRefPostHire,RecentTrainingExperienceContactForRefYes,ReferenceRelationship1,ReferenceRelationship2,ReferenceRelationship3,SpokenWithCurrentBoss,TechnicalSchoolGPA,TechnicalSchoolGraduate,TotalYearsOfExp,UndergradSchoolGPA,UndergradSchoolGraduate,WorkedInThisRegion,WorkingForJobAppliedFor,hired
0,Filed Not Hired,Applicant,2013-11-26,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,NaN,NaN,HS,3.50,Yes,NaN,False,2013-11-19,PRN,True,False,False,False,False,False,True,False,False,False,NaN,NaN,NaN,Skier,Johto,Glaceon,False,full time,2003-09-01,42000.00 PER_YEAR,NaN,2012-09-01,False,full time,1990-09-01,40000.00 PER_YEAR,NaN,2002-07-01,False,NaN,1987-02-01,20000.00 PER_YEAR,NaN,1990-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Friend,Friend,NaN,NaN,NaN,NaN,3.0,NaN,NaN,False,NaN,0.0
1,Filed Not Hired,Applicant,2013-11-27,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,HS/GED,3.68,Yes,NaN,False,2013-11-19,PRN,True,True,True,True,True,True,True,True,True,True,NaN,NaN,NaN,Skier,Johto,Glaceon,True,part time,2013-08-01,11.86 PER_HOUR,Blitzle,2013-12-01,True,part time,2010-08-01,7.25 PER_HOUR,Blitzle,2010-12-01,True,full time,2012-06-01,9.00 PER_HOUR,Blitzle,2013-02-01,True,full time,2011-08-01,NaN,Blitzle,2012-01-01,NaN,NaN,NaN,NaN,Professor,Fellow Trainer,Fellow Trainer,NaN,NaN,NaN,5.0,NaN,No,False,NaN,0.0
2,Filed Not Hired,Applicant,2013-11-22,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,NaN,NaN,Bachelors,3.80,Yes,NaN,False,2013-10-29,Full-time,True,True,True,True,True,False,True,True,False,False,NaN,NaN,NaN,Skier,Johto,Glaceon,True,full time,2012-04-01,42000.00 PER_YEAR,NaN,NaN,True,part time,2012-01-01,30000.00 PER_YEAR,NaN,2012-04-01,False,part time,2011-07-01,28000.00 PER_YEAR,Blitzle,2012-01-01,False,part time,2009-05-01,35000.00 PER_YEAR,NaN,2011-04-01,NaN,NaN,NaN,NaN,Professor,Professor,Fellow Trainer,NaN,NaN,NaN,5.0,3.0,Yes,False,NaN,0.0
3,Filed Not Hired,Applicant,2013-11-23,True,NaN,False,NaN,NaN,Seedot,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,AD,2.30,Yes,NaN,False,2013-11-19,PRN,True,True,True,True,True,True,True,True,False,True,NaN,NaN,NaN,Skier,Johto,Glaceon,True,part time,2009-12-01,NaN,Zorua,2013-07-01,True,part time,2013-04-01,NaN,NaN,2013-11-01,True,part time,2011-10-01,NaN,NaN,2013-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fellow Trainer,Boss,NaN,NaN,Yes,1.0,2.4,No,False,NaN,0.0
4,New,Applicant,2013-11-23,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,NaN,NaN,Associates,3.00,Yes,NaN,False,2013-10-29,Full-time,True,True,True,True,True,False,True,True,False,False,NaN,NaN,NaN,Skier,Johto,Glaceon,True,full time,2013-04-01,21600.00 PER_YEAR,Seedot,2013-11-01,True,full time,2012-07-01,22000.00 PER_YEAR,Porygon,2013-03-01,True,full time,2011-12-01,19000.00 PER_YEAR,Porygon,2012-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Professor,Fellow Trainer,Professor,NaN,NaN,NaN,3.0,3.0,No,False,NaN,NaN
5,Filed Not Hired,Applicant,2013-11-23,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,HS/GED,NaN,Yes,NaN,False,2013-11-19,PRN,True,True,True,True,True,True,True,True,True,True,NaN,NaN,NaN,Skier,Johto,Glaceon,True,part time,2013-06-01,10.00 PER_HOUR,Mareep,2013-08-01,True,part time,2012-02-01,7.25 PER_HOUR,NaN,2013-03-01,True,full time,2009-06-01,10.50 PER_HOUR,Blitzle,2011-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boss,Boss,NaN,NaN,NaN,1.0,NaN,NaN,False,NaN,0.0
6,New,Applicant,2013-11-24,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,HS/GED,3.50,Yes,NaN,False,2013-10-29,Full-time,True,False,False,False,False,False,True,False,False,False,NaN,NaN,NaN,Skier,Johto,Glaceon,True,full time,2010-11-01,10.90 PER_HOUR,NaN,NaN,True,full time,2011-06-01,15.00 PER_HOUR,NaN,2012-02-01,True,full time,2010-07-01,12.00 PER_HOUR,NaN,2010-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boss,Professor,Professor,NaN,NaN,NaN,9.0,NaN,NaN,False,NaN,NaN
7,New,Applicant,2013-11-24,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,Associates,2.70,Yes,NaN,False,2013-10-29,Full-time,True,True,True,True,True,False,True,False,False,False,NaN,NaN,NaN,Skier,Johto,Glaceon,True,part time,2010-06-01,7.25 PER_HOUR,Blitzle,2010-12-01,False,part time,2011-03-01,3.63 PER_HOUR,NaN,2011-09-01,True,full time,2006-08-01,10.75 PER_HOUR,Snorunt,2012-10-01,True,full time,2012-10-01,9.38 PER_HOUR,NaN,2013-10-01,NaN,NaN,NaN,NaN,Fellow Trainer,Professor,Fellow Trainer,NaN,NaN,NaN,1.0,3.0,No,False,NaN,NaN
8,Filed Not Hired,Applicant,2013-11-24,NaN,Mareep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,NaN,Yes,NaN,True,2013-11-19,PRN,True,True,True,True,True,False,True,True,False,False,Full Contributor,NaN,NaN,Skier,Johto,Glaceon,NaN,NaN,2012-04-01,NaN,Mareep,NaN,NaN,NaN,2010-09-01,NaN,Blitzle,2012-04-01,NaN,NaN,2010-08-01,NaN,NaN,2012-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,9.0,NaN,No,NaN,False,0.0
9,Filed Not Hired,Applicant,2013-11-25,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,NaN,NaN,HS/GED,NaN,Yes,NaN,False,2013-11-19,PRN,True,True,False,True,True,True,True,False,False,False,NaN,NaN,No,Skier,Johto,Glaceon,True,full time,2008-05-01,34750.00 PER_YEAR,NaN,2013-10-01,True,full time,2006-06-01,14.00 PER_HOUR,NaN,2008-05-01,False,full time,2004-03-01,32000.00 PER_YEAR,Porygon,2006-01-01,True,full time,1992-07-01,42000.00 PER_YEAR,Glaceon,2002-07-01,NaN,NaN,NaN,NaN,Professor,Professor,Professor,NaN,NaN,Yes,3.0,NaN,No,False,NaN,0.0

In [23]:
raw_data.describe()

,GraduateSchoolGPA,HighSchoolGPA,OtherSchoolGPA,TechnicalSchoolGPA,TotalYearsOfExp,UndergradSchoolGPA,hired
count,3889.000000,27206.000000,3781.000000,10241.000000,96914.000000,24361.000000,96321.000000
mean,3.478934,3.203623,3.463853,3.477138,4.154095,3.213768,0.017213
std,0.476177,0.516601,0.482387,0.478480,3.469671,0.451540,0.130066
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.200000,3.000000,3.070000,3.000000,1.000000,3.000000,0.000000
50%,3.550000,3.200000,3.500000,3.500000,3.000000,3.200000,0.000000
75%,3.800000,3.570000,3.890000,3.900000,9.000000,3.500000,0.000000
max,4.300000,4.300000,4.200000,4.300000,10.000000,4.300000,1.000000

In [24]:
len(raw_data)

100000

In [25]:
raw_data.count()

ApplicationStatus                                 99996
ApplicationType                                  100000
ApplyDate                                        100000
CurrentlyEmployed                                 82596
CurrentlyTrainingPokemon                           3911
CurrentlyWorkInThisRegion                         92482
GraduateSchoolGPA                                  3889
GraduateSchoolGraduate                             9789
GymBadge1Pokemon                                  34973
GymBadge2Pokemon                                  16411
GymBadge3Pokemon                                   5901
GymBadge4Pokemon                                   1812
GymBadgePerm1                                     93473
GymBadgePerm2                                     93473
GymBadgePerm3                                     93473
GymBadgePerm4                                     93473
GymBadgeTemp1                                     93473
GymBadgeTemp2                                     93473
GymBadgeTemp3                                     93473
GymBadgeTemp4                                     93473
GymCertificationEverSuspended                     52647
GymCertified                                      47047
HighEduLevelCompleted                             98812
HighSchoolGPA                                     27206
HighSchoolGraduate                                92133
HiredSalaryOffer                                   1279
InternalEmployee                                 100000
JobPostingDate                                    98500
JobSchedule                                       99502
JobShiftDay                                       99618
JobShiftEvening                                   99618
JobShiftNight                                     99618
JobShiftRotating                                  99618
JobShiftWeekend                                   99618
JobStatusFlexTime                                 99618
JobStatusFullTime                                 99618
JobStatusPartTime                                 99618
JobStatusPerDiem                                  99618
JobStatusTemp                                     99618
LastPerformaceRating                               6145
OtherSchoolGPA                                     3781
OtherSchoolGraduate                               14144
PokemonTrainerClass                               99996
PokemonWorldRegion                                99996
PositionForTrainingPokemon                        75196
RecentTrainingExperience1ContactForRef            93470
RecentTrainingExperience1EmploymentStatus         89376
RecentTrainingExperience1From                     94840
RecentTrainingExperience1PayRateEnd               70681
RecentTrainingExperience1Pokemon                  52946
RecentTrainingExperience1To                       86340
RecentTrainingExperience2ContactForRef            72465
RecentTrainingExperience2EmploymentStatus         73065
RecentTrainingExperience2From                     74679
RecentTrainingExperience2PayRateEnd               60717
RecentTrainingExperience2Pokemon                  41907
RecentTrainingExperience2To                       73448
RecentTrainingExperience3ContactForRef            53395
RecentTrainingExperience3EmploymentStatus         54319
RecentTrainingExperience3From                     55867
RecentTrainingExperience3PayRateEnd               44838
RecentTrainingExperience3Pokemon                  31249
RecentTrainingExperience3To                       55238
RecentTrainingExperience4ContactForRef            31869
RecentTrainingExperience4EmploymentStatus         32917
RecentTrainingExperience4From                     30739
RecentTrainingExperience4PayRateEnd               25968
RecentTrainingExperience4Pokemon                  16965
RecentTrainingExperience4To                       30377
RecentTrainingExperienceContactForRefNA           39834
RecentTrainingExperienceContactForRefNo           39834
RecentTrainingExperienceContactForRefPostHire     39834
RecentTrainingExperienceContactForRefYes          39834
ReferenceRelationship1                            66470
ReferenceRelationship2                            64036
ReferenceRelationship3                            60356
SpokenWithCurrentBoss                              6145
TechnicalSchoolGPA                                10241
TechnicalSchoolGraduate                           33476
TotalYearsOfExp                                   96914
UndergradSchoolGPA                                24361
UndergradSchoolGraduate                           50720
WorkedInThisRegion                                90622
WorkingForJobAppliedFor                            6145
hired                                             96321
dtype: int64

We see that `hired`, our target column, has the value missing for about ~4,000 rows. Without any background for assumptions, it may be safe to drop these rows so as to not contaminate the model.

In [26]:
raw_data.dropna(subset=['hired'], inplace=True)
raw_data.count()

ApplicationStatus                                96321
ApplicationType                                  96321
ApplyDate                                        96321
CurrentlyEmployed                                79635
CurrentlyTrainingPokemon                          3761
CurrentlyWorkInThisRegion                        89135
GraduateSchoolGPA                                 3739
GraduateSchoolGraduate                            9425
GymBadge1Pokemon                                 33786
GymBadge2Pokemon                                 15856
GymBadge3Pokemon                                  5688
GymBadge4Pokemon                                  1748
GymBadgePerm1                                    90062
GymBadgePerm2                                    90062
GymBadgePerm3                                    90062
GymBadgePerm4                                    90062
GymBadgeTemp1                                    90062
GymBadgeTemp2                                    90062
GymBadgeTemp3                                    90062
GymBadgeTemp4                                    90062
GymCertificationEverSuspended                    50824
GymCertified                                     45409
HighEduLevelCompleted                            95203
HighSchoolGPA                                    26152
HighSchoolGraduate                               88752
HiredSalaryOffer                                  1279
InternalEmployee                                 96321
JobPostingDate                                   94872
JobSchedule                                      95921
JobShiftDay                                      95961
JobShiftEvening                                  95961
JobShiftNight                                    95961
JobShiftRotating                                 95961
JobShiftWeekend                                  95961
JobStatusFlexTime                                95961
JobStatusFullTime                                95961
JobStatusPartTime                                95961
JobStatusPerDiem                                 95961
JobStatusTemp                                    95961
LastPerformaceRating                              5899
OtherSchoolGPA                                    3633
OtherSchoolGraduate                              13620
PokemonTrainerClass                              96321
PokemonWorldRegion                               96321
PositionForTrainingPokemon                       73044
RecentTrainingExperience1ContactForRef           90060
RecentTrainingExperience1EmploymentStatus        86150
RecentTrainingExperience1From                    91316
RecentTrainingExperience1PayRateEnd              68218
RecentTrainingExperience1Pokemon                 50968
RecentTrainingExperience1To                      83178
RecentTrainingExperience2ContactForRef           69790
RecentTrainingExperience2EmploymentStatus        70360
RecentTrainingExperience2From                    71881
RecentTrainingExperience2PayRateEnd              58517
RecentTrainingExperience2Pokemon                 40376
RecentTrainingExperience2To                      70706
RecentTrainingExperience3ContactForRef           51388
RecentTrainingExperience3EmploymentStatus        52274
RecentTrainingExperience3From                    53701
RecentTrainingExperience3PayRateEnd              43194
RecentTrainingExperience3Pokemon                 30063
RecentTrainingExperience3To                      53099
RecentTrainingExperience4ContactForRef           30656
RecentTrainingExperience4EmploymentStatus        31661
RecentTrainingExperience4From                    29554
RecentTrainingExperience4PayRateEnd              25015
RecentTrainingExperience4Pokemon                 16334
RecentTrainingExperience4To                      29199
RecentTrainingExperienceContactForRefNA          38881
RecentTrainingExperienceContactForRefNo          38881
RecentTrainingExperienceContactForRefPostHire    38881
RecentTrainingExperienceContactForRefYes         38881
ReferenceRelationship1                           64020
ReferenceRelationship2                           61703
ReferenceRelationship3                           58139
SpokenWithCurrentBoss                             5899
TechnicalSchoolGPA                                9801
TechnicalSchoolGraduate                          32140
TotalYearsOfExp                                  93357
UndergradSchoolGPA                               23408
UndergradSchoolGraduate                          48806
WorkedInThisRegion                               87336
WorkingForJobAppliedFor                           5899
hired                                            96321
dtype: int64